@font-face {
  font-family: "Evolventa";
  src: url("../../shared/assets/fonts/Evolventa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Evolventa";
  src: url("../../shared/assets/fonts/Evolventa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
